.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.pagination p {
  background: rgb(238, 242, 245);
  color: rgb(8, 81, 165);
  border: 1px solid rgba(20, 20, 20, 0.226);
  padding: 1rem;
  cursor: pointer;
  transition: background 0.35s ease-in,
              color 0.35s ease-in;
}

.pagination p:not(:first-child) {
  border-left: none;
}

.pagination p:hover {
  background: rgb(22, 101, 192);
  color: #fff;
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pokemon {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  box-shadow: 0 0 8px rgba(2,2,2,0.25);
  padding: 1rem;
  border-radius: 5px;
  animation: fade-in 0.45s ease-in;
  cursor: pointer;
  transition: all 0.45s ease-in;
}

.pokemon:hover {
  box-shadow: 0 0 8px rgb(4, 42, 146);
}

.overlay {
  background: rgba(14, 13, 13, 0.589);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal {
  background: #fff;
  margin-top: 5%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  animation: slide-down 0.45s ease-in
}

.modal-off {
  display: none;
}

.modal-on {
  display: block;
}

.modal-title {
  border-bottom: 1px solid rgba(14, 13, 13, 0.189);
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
}

.modal-body {
  padding: 1rem;
  border-bottom: 1px solid rgba(14, 13, 13, 0.189);
  text-align: center;
}

.modal-footer {
  text-align: right;
}

.close-modal {
  background: rgba(255, 255, 255, 0.589);
  border: none;
  color: rgb(216, 52, 52);
  font-size: 1.55rem;
  padding: 0.7rem 1.25rem;
  border-radius: 7px;
  margin: 1rem;
  transition: background 0.45s ease-in;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(2,2,2,0.25);
}

.close-modal:hover {
  background: #fff;
}

@media (min-width: 660px) {
  .pokemon {
    width: 45%;
  }
  .modal {
    width: 65%;
  }
}

@media(min-width: 960px) {
  .pokemon {
    width: 30%;
  }
  .modal {
    width: 50%;
  }
}

@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, -60px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}